@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:100&display=swap');

.admin-wrapper {
    display: flexbox;
    margin: 0 auto;
}

.admin-h3 {
    color: $fontcolor;
    max-width: 90%;
    text-align: center;
    border: 1px solid $fontcolor;
    border-radius: 4px;
    padding: 5%;
    margin: 5%;
}

.admin-table {
    border-collapse: collapse;
    margin: 0 auto;
    tr:nth-child(even) {background: whitesmoke};
}

.admin-thead, td {
    color: $fontcolor;
    padding-top: .5%;
    text-align: left;
}

.admin-form {
    max-width: 75%;
    margin: 2% auto 2% auto;
    border: 1px solid $fontcolor;
    border-radius: 4px;
    padding: 5%;
    // margin: 10%;
    .admin-input {
        width: 100%;
        padding: 1%;
        margin: 1% auto;
        // display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        // resize: vertical;
        .admin-input:focus {
            background-color: $wrapper;   
        }
    }
}

.admin-createDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 2%; 
}

.admin-saveUpdateButton, .admin-update, .admin-createNewButton, .admin-createNowButton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 2px solid $fontcolor;
    
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color: $fontcolor;
    text-align: center;
}
.admin-saveUpdateButton, .admin-update, .admmin-createNowButton { 
    margin: 2% auto;
}
.admin-saveUpdateButton:hover, .admin-update:hover, .admin-createNewButton:hover, .admin-createNowButton:hover,
.admin-saveUpdateButton:focus, .admin-update:focus, .admin-createNewButton:focus, .admin-createNowButton:focus {
    color: #ffffff !important;
    background: $buttonColor2;
    border-color: $buttonColor2 !important;
    transition: all 0.4s ease 0s;
    box-shadow: 0 0 10px #43D1AF;
    }

.admin-delete {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 2px solid $buttonColor1;
    margin: 0 0.3em 0.3em 0;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color: $buttonColor1;
    text-align: center;
    transition: all 0.2s;
}

@media all and (max-width: 30em) {
    .saveUpdateButton{
        display: block;
        margin: 0.4em auto;
    }
}

/* Tablet och desktop */
@media screen and (min-width: 768px) {
    .admin-wrapper {
        display: flexbox;
        margin: 0px auto;
        max-width: 1200px;
    } 
    .admin-h3 {
        display: none;
    }
    .admin-table {
        margin-top: 5%;
    }
    .admin-form {
        max-width: 50%;
    }   
}