@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:100&display=swap');


.desktop-landing-page {
    display:none;
}

.mobile-landing-page {


.welcome {
    background-image: url('../../assets/img/welcome_mobile.png');
    height: 600px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: 100px;
}

.whiteBox {
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    .welcomeTextBox {
        border: 2px black solid;
        padding: 70px; 

        .welcomeText {
            font-family: 'Roboto Mono', monospace;
            color: black;
        }
        .adressText {
            font-family: 'Raleway', sans-serif;
            color: black;
        }
    }
}
}

/* Tablet och desktop */
@media screen and (min-width: 768px){

    .mobile-landing-page {
        display:none;
    }

    .desktop-landing-page {
        background: $landingpagecolor;
        display:block;
    }
}