header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightblue;
}

.logo-wrapper a:link, a:visited {
    text-decoration: none; 
    color: #000;
}
