@import '../../variables';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:100&display=swap');

.header-desktop {
    display: none;
}

.header-mobile {
    display: flex;
    align-items: center;
    background: $background;
    height: 300px;
    padding: 0 1em;

    .main-navigation-mobile {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .logo {
            font-family: $robotomono;
            font-size: 30px;
            font-weight: lighter;
            color: $fontcolor;
            text-decoration: none;
        }

        .about {
            font-size: 20px;
            font-weight: bold;
            writing-mode: vertical-lr;
            text-decoration: none;
            color: black;
        }

        .booking {
            font-size: 20px;
            font-weight: bold;
            writing-mode: vertical-lr;
            text-decoration: none;
            color: black;
        }

        .adminlink {
            display: none;
        }

        .nav-link {
            letter-spacing: 5px;
        }
    }
}

/* Tablet och desktop */
@media screen and (min-width: 768px) {
    .header-mobile {
        display: none;
    }

    .header-desktop {
        padding: 2em 3em 0 3em;
        display: block;

        .logo {
            color: white;
            text-decoration: none;
            transition: 1s;

            h1 {
                margin: 0;
            }

            &:hover {
                color: black;
            }
        }

        .header-desktop-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .nav-link {
                margin-left: 1em;
                font-weight: bold;
                color: white;
                text-decoration: none;
                font-size: 1.3em;
                letter-spacing: 1px;
                transition: 1s;

                &:hover {
                    color: black;
                }
            }
        }
    }
}
