@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* Mobil + grundlayout */

 
// body {
//   background: $background;
// }
.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

}

/* Tablet och desktop */
@media screen and (min-width: 768px){

    
}