$robotomono: 'Roboto Mono', monospace;
$raleway: 'Raleway', sans-serif;
$lateef: 'Lateef', cursive;
$background: #DAD3C0;
$fontcolor: #494848;
$landingpagecolor: #BAB3A2;
$bodyFamily: 'Arial', sans-serif;
$wrapper: #DAD3C0;
$buttonColor1: #7C1C23;
$buttonColor2: #f6b93b;
